<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sivion.pdfsign">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="id.sivion.pdfsign.DroidSignerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="id.sivion.pdfsign.activity.OptionPdfActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="id.sivion.pdfsign.activity.CertificateActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="id.sivion.pdfsign.activity.SignPdfActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".verification.VerifyPdfActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".verification.SignDetail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".verification.PdfView"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9dc73286ab8262dc9231cb4f07347b9fbdcb5847" />
    </application>


</manifest>

